/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    @apply m-0 h-full;
    /*color: #98405f;*/
  }

  p {
    @apply text-dark;
  }

  .btn-primary {
    @apply py-3 px-4 bg-brand text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .sidebtn {
    @apply w-12 h-12 flex justify-center items-center rounded-lg bg-sideGray text-sideIcon my-2 cursor-pointer hover:bg-indigo-700;
  }

  .sidebtn-active {
    @apply w-12 h-12 flex justify-center items-center rounded-lg bg-brand text-white my-2;
  }

  .board {
    @apply bg-white px-12 py-7 rounded-lg;
  }

  .board-disabled {
    @apply bg-disabled px-12 py-7 rounded-lg cursor-not-allowed;
  }

  .circle {
    display: inline-block;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    color: white;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
  }
  .circle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
  }
  .circle span {
    display: inline-block;
    vertical-align: middle;
  }

  .donutSpinner {
    display: inline-block;
    border: 4px solid hsl(222 100% 95%);
    border-left-color: hsl(243 80% 62%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: donut-spin 1.2s linear infinite;
  }

  .donutSpinner.smallSpinner {
    width: 24px;
    height: 24px;
  }

  @keyframes donut-spin {
    to {
      transform: rotate(1turn);
    }
  }
}
